/*
 Theme Name: cameronsimmons.ca
 Author: Cam
 Version: 1.0

*/

.forminator-custom-form {
    display: block !important;
}

.nav-item:hover {
    background-color: slategrey;
}
.navbar-text:hover {
    background-color: slategrey;
}


/* below do not touch */


.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

p {
    font-family: 'Roboto', serif;
    font-size: 1.0vw !important;
}

h1  {
    font-family: 'Roboto', sans-serif;
    font-size: 2.0vw !important;
    color: #19705B;
}

/* unvisited link */
a:link {
    color: #003366;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #19705B;
}

/* selected link */
a:active {
    color: #19705B;
}

/*.site-title {*/
/*    font-family: "Antic Didone", Arial, sans-serif;*/
/*}*/
